[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
environs = "*"
pymongo = "*"
polyline = "*"
folium = "*"
streamlit-folium = "*"
streamlit-extras = "*"
streamlit-globe = "*"
streamlit-js-eval = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.13"
